/*
Copyright 2017 Kay Jakobs

This file is part of jCredGen.

jCredGen is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

jCredGen is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
*/

.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color: white;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.1666667em 0.0em 0.0em;
}

.tab-pane {

    -fx-tab-min-width: 78px;
    -fx-tab-max-width: 78px;

    -fx-tab-min-height: 30px;
    -fx-tab-max-height: 30px;
}

.tab-pane .tab {
    -fx-background-color: #009688;
}

.tab-pane .tab:selected {
    -fx-background-color: #00796B;
}

.tab .tab-label {
    -fx-font-family: Arial;
    -fx-font-size: 12;
    -fx-text-fill: lightgrey;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-font-family: Arial;
    -fx-font-size: 12;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#lblText {
    -fx-font-family: Consolas;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

#lblId {
    -fx-font-family: Consolas;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

#txtId {
    -fx-font-family: Consolas;
    -fx-background-color: #009688;
    -fx-text-fill: #CDDC39;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

#msgText_green {
    -fx-font-family: Consolas;
    -fx-text-fill: green;
}

#msgText_red {
    -fx-font-family: Consolas;
    -fx-text-fill: red;
}

#lblAbout {
    -fx-font-family: Terminal;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

#btGreen {
    -fx-background-color: #009688;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
